
# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
*.env

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Service account credentials
*.json
